/*utility*/
.red-border {
  border: red solid 1px;
}

:root {
  /* Color Scheme */
  /* --color-primary: #1a1a1a;
  --color-secondary: #ffcc00;
  --color-accent: #e63946;
  --color-background: #ffffff;
  --color-text: #333333;
  --color-text-secondary: #666666;
  --color-link: #1a0dab;
  --color-link-hover: #4a148c; */

  --color-primary: #00e9bd;
  --color-black: #151515;
  --color-grey: #d9d9d9;
  --color-white: #fefcfd;

  --img-text-gap: 1.6rem;

  --ycyr-img-mb: 0.8rem;
  --ycyr-card-mb: 3rem;

  --our-rooms__card__img-mb: 2.5rem;
  --our-rooms__card__txt-gaps: 3rem;

  --footer-color: #66666e;
  --footer-rhozeland-book-color: #151515;
  --footer-background: #d9d9d9;
}

/*
BACKGROUNDS
*/
.bg-tiffany-black {
  background-color: var(--color-primary, #151515);
  color: var(--color-black, #151515);
}

.bg-grey-black {
  background-color: var(--color-grey, #d9d9d9);
  color: var(--color-black, #151515);
}

.bg-black-white {
  background-color: var(--color-black, #151515);
  color: var(--color-white, #d9d9d9);
}

/*ARROW LINE*/
.arrow-line {
  position: relative;
  height: 2px; /* Adjust the height/thickness of the line */
}

.arrow-line::after {
  content: "";
  position: absolute;
  right: 0px; /* Adjust so the arrow aligns with the line end */
  top: 50%;
  border-style: solid;
  border-width: 0 3px 3px 0; /* Adjust size of the arrow */
  padding: 3px; /* Size of the arrow */
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
}

/*WP GRIDBUILDER FACETS*/
.wpgb-facet-title {
  display: none;
}

.wpgb-facet > fieldset:last-child,
.wpgb-facet fieldset:last-child {
  margin-bottom: 0 !important;
}
